{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Website Template: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h#}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'KCCIC/CSS/website-base.css' %}">
</head>

<body>
  {% include 'KCCIC/templates/KCCIC/common/navbar.html' %}

  <div class="text-center container-fluid h-100">
    <div class="row h-100">

      <div class="col-1 sidenav"></div>

      <div class="col-10 text-start mt-3">
        <h1 align="center">Welcome to KCCIC</h1>
        <div style="text-align:center;">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPLq4tYzMxvY1nyu0ngNdr6TeH105756IWwaUbA=s1360-w1360-h1020" alt="Our Beautiful Church!" style="width:600px;height:450px;">
        </div>
        <p style="text-align:center;">This website was designed and created to enhance our college members' experience and make administrative tasks more efficient.</p>
        <hr>
        <h2>About our College Community:</h2>
        <p>List Goals/Mission statement here, this year's theme, worship times, etc <br>
        <a href="{% url 'KCCIC:about' %}">Contact</a> information listed with Leader and Office profiles.
        </p>
        <h3>Website Features:</h3>
        <p>
            <ul>
              <li>Viewing announcements</li>
              <li>Signing up for and viewing rides.</li>
              <li>Viewing a calendar with events</li>
              <li>Officer/Leader Profiles</li>
              <li>Team Pages</li>
              <li>Photo Gallery</li>
              <li>Daily QT's and links to alternative QT's</li>
          </ul>
        <a href="{% url 'KCCIC:about' %}">Login</a> to start.
      </div>

      <div class="col-1 sidenav"></div>

    </div>
  </div>

  {% include 'KCCIC/templates/KCCIC/common/footer.html' %}
</body>
</html>